[2020-09-16 14:43] stefaniapedrazzi opened #2 "Initialize repo"
Some preliminary tasks have to be completed in order to prepare the GitHub repo to integrate the contribution of the different partners.

* [x] *Task 1 - Initialization* (#1):
    create base folders,  add GitHub Actions source tests, include initial implementation of `engine` module
* [x] *Task 2 - Documentation*
   create documentation structure, add documentation explaining the structure of the

[2020-09-23 10:37] tsampazk opened #6 "Providing Data classes with numpy arrays throws ValueError"
For example in Vector, the following code snippet throws ValueError from constructor:
[code]
`ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`

Numpy arrays can't be used in ctor as
` if data: ...`
We can't expect users to only provide python lists.

Fix: conditional needs to change to `if data is not None:` that i think covers all cases.

[2020-09-23 12:30] #6 closed, assigned to nobody

[2021-01-29 11:51] tsampazk opened #20 "Lightweight OpenPose Learner should use os.path.join"
There are places where path strings are being hacked together with os.sep, these should all use os.path.join utility.

E.g.: https://github.com/tasostefas/opendr_internal/blob/b9608bf2b997fca1935f3717db16cb6e7972e5c3/src/perception/pose_estimation/lightweight_open_pose/lightweight_open_pose_learner.py#L704-L705

https://github.com/tasostefas/opendr_internal/blob/b9608bf2b997fca1935f3717db16cb6e797

[2021-02-03 09:11] #20 closed, assigned to tsampazk

[2021-03-12 10:18] passalis opened #34 "Supported OSes for the first release are not clear"
In D2.1 we state that:

However, currently, we ran tests only for Linux. Are we going to only support Linux or do we plan on supporting other OSes as well? Should we target only Linux in the first release? The majority of robotics systems are developed using linux (when an OS is used), so this can be used as an argument to support this decision. However, I am afraid that if we completely exclude t

[2021-03-14 20:13] tsampazk opened #36 "Lightweight OpenPose optimize fails to run if num_refinement_stages != 2"
On [this](https://github.com/tasostefas/opendr_internal/blob/2f6d15fab31ddb3c604f0bd6a2a7e8689904e051/src/perception/pose_estimation/lightweight_open_pose/lightweight_open_pose_learner.py#L847) line, the naming of the outputs requires `num_refinement_stages` to be set to the default value of 2, setting it to another value makes the `optimze` method to fail to run.

[Here](https://github.com/tasost

[2021-03-29 11:11] iliiliiliili opened #42 "Python style tests do not support typing"
Source code:
[code]

Command:
`python3 -m unittest discover -s tests/`

Result:
`target.py:193:18: E701: multiple statements on one line (colon)`

It sees the typing statement as an if/while/... with the body on the same line.

[2021-04-19 06:31] passalis opened #53 "Limited amount of action minutes available"
I am opening this issue to discuss strategies that minimize the usage of action minutes  until the first public release of the toolkit. It is also important to ensure that appropriate tests are still conducted to ensure the high quality of the code.

The number of action minutes available on private repos is 3.000/month and we currently spend about 30 minutes in tests (with 6 tools integrated).  T

[2021-04-28 08:02] stefaniapedrazzi opened #62 "Tests are printing many warnings"
The existing tests currently print lot of warning (cuda, UserWarning, DeprecationWarning, ResourceWarning) that make the logs hard to read.

We should try to fix all this warnings.
In case this won't be possible, the warnings should be filtered and not printed on the console when running the tests.

All the tests seems to print some warnings:
@Pavlos-Tosidis , @iliiliiliili , @jovaroo could you pl

[2021-04-28 09:55] stefaniapedrazzi opened #64 "Different version of PyYAML used by tools"
Two different versions of PyYAML are currenty required by tools:
* PyYAML 5.3: required by the `voxel_object_detection_3d` module (@iliiliiliili)
* PyYAML 5.4.1: required by the `activity_recognition` module (@LukasHedegaard)

Only one version should be used.
@iliiliiliili and @LukasHedegaard please evaluate this issue and choose a single version to be used.

[2021-04-28 12:07] Pavlos-Tosidis opened #65 "engine.target.Category issue"
Current definition of engine.target.Category class seems to restrictive and bound to Pytorch.
Furthermore face_recognition algorithm, even though a Category object needs to be returned on infer(), I can't work with the current implementation due to how inference is run.
Maybe we can all work with #48 [face recognition category class](https://github.com/tasostefas/opendr_internal/blob/face_recognit

[2021-05-03 06:43] #64 closed, assigned to nobody

[2021-05-05 14:50] #65 closed, assigned to nobody

[2021-05-20 06:22] LukasHedegaard opened #75 "Test slowdown"
There has been a significant reduction in test speeds over the past few weeks. Thanks to @iliiliiliili and @negarhdr for noticing this.
Can this be alleviated or is it a result of the additional method integrations?

[2021-06-02 10:36] bheijden opened #79 "Modifications for LearnerRL and BaseLearner classes"
After having a discussing with most people working on RL in WP5 (assigned to this issue), we came to the conclusion that the current interface of the LearnerRL and BaseLearner could be modified to be more suited for RL.

I am opening this issue, and tagging all relevant people such that we can discuss this here and converge to a interface that is more suited for RL and user-friendly.

@stefaniaped

[2021-06-10 09:59] vniclas opened #90 "Inconsistent definitions of Data and Target classes"
Hi all,

I came across some inconsistencies between the styles used in [data.py](https://github.com/tasostefas/opendr_internal/blob/master/src/opendr/engine/data.py) and [target.py](https://github.com/tasostefas/opendr_internal/blob/master/src/opendr/engine/target.py), which make the integration of new subclasses unnecessary complicated.
While `data.py` is rather consistent and adheres to the prop

[2021-06-28 05:35] passalis commented on #53
This issue is now resolved.

[2021-06-28 05:35] #53 closed

[2021-06-28 05:36] passalis commented on #34
OSes that are going to be supported for each release has been specified, so I am closing this issue.

[2021-06-28 05:36] #34 closed

[2021-06-28 08:35] passalis commented on #90
Hi @vniclas,

You are correct.  `Target` should implement setters/getters as you describe. I have opened #98 where I implemented setters and getters for the base classes, as well as for a few more used by AUTH. I think this resolves the main issue (i.e., having these fields as private variables in the `Target` class). Let me know what you think.

[2021-06-28 09:06] vniclas commented on #90
Hi @passalis,

thanks for looking into the issue. I directly commented on your PR.

[2021-06-30 20:26] dHonerkamp commented on #42
This is preventing the integration of #68 as well now. Is there a resolution?

[2021-07-07 13:06] passalis opened #103 "Non-deterministic test behavior and failing tests on master"
It seems that tests are randomly failing on `tools.perception.activity_recognition.cox3d.test_cox3d_learner.TestCoX3DLearner`.
More specifically, the error message is:
[code]
I can also reproduce this behavior on the master branch when I run the tests locally. Examining different tests runs, e.g,. this [one](https://github.com/tasostefas/opendr_internal/pull/98/checks?check_run_id=3001859356) and

[2021-07-11 16:57] #75 closed

[2021-07-11 16:58] LukasHedegaard commented on #75
Fixed in PR #81

[2021-07-11 17:51] LukasHedegaard commented on #103
Thank you for bringing this to my attention @passalis.
I have not experienced the issue on the machines I have tested it on (MacOS 10 and Ubuntu 18), but on other occasions, I have observed small numerical difference between environments. I think your diagnosis and proposed solution (increasing `atol` in `allclose`) is an acceptable practical solution.
I have created a PR #105 that implements the

[2021-07-12 06:22] passalis commented on #103
Thanks @LukasHedegaard for fixing this!

[2021-07-15 13:46] vniclas opened #109 "Non-existing python dependency: PIL==7.0.0"
Hi @Pavlos-Tosidis (tagging you as you are listed as the last person editing the [dependency file](https://github.com/tasostefas/opendr_internal/blob/d38045dfc51ffa4ef2f1fc134636c8fb1c73d624/src/opendr/perception/face_recognition/dependencies.ini)).

The package `PIL==7.0.0` does not exist. This should probably be replaced with `pillow==7.0.0`.

[2021-07-15 17:06] vniclas opened #110 "Conflicting python dependencies, e.g., onnxruntime"
Hi all,

when looking into the current dependency handling of python packages, I realized that there are conflicting dependencies between the integrated tools, e.g., `onnxruntime==1.5.2` vs `onnxruntime==1.3.0`.
The only reason that the tests have not failed until now is that parsing the python dependencies is done manually line by line (see [install.sh line 18](https://github.com/tasostefas/opend

[2021-07-15 19:32] Pavlos-Tosidis commented on #109
You are absolutely right, I will change it on my next PR.

[2021-07-15 22:12] #90 closed

[2021-07-19 15:08] stefaniapedrazzi commented on #110
No, probably there is no particular reason other that the manual parsing is needed for the system dependencies and can probably be changed.

Please feel free to go ahead fixing this issue.
Otherwise I will handle it when I will have some time.

[2021-07-20 10:36] vniclas commented on #109
FYI, I'm also addressing this in PR #112

[2021-07-20 10:46] vniclas commented on #110
@stefaniapedrazzi, thanks for your reply. Please see PR #112 for the further discussion.

[2021-07-22 08:24] stefaniapedrazzi opened #114 "Test failures in test_suite on master branch due to TestObjectTracking2DFairMotLearner"
Currnetly on the master branch the `TestObjectTracking2DFairMotLearner` tests are failing.

Here is the error I got locally (on the CI the logs are cut because too long):
[code]

@iliiliiliili Could you please have a look at this error?

[2021-08-18 08:52] #109 closed

[2021-08-18 08:52] #110 closed

[2021-08-28 23:13] iliiliiliili opened #119 "Double requirements for pip"
Using `make install_runtime_dependencies` results in this error:

`ERROR: Double requirement given: tensorboard>=2.3.0 (from -r python_dependencies.txt (line 18)) (already in tensorboard==2.4.1 (from -r python_dependencies.txt (line 14)), name='tensorboard')`

[2021-08-30 06:28] stefaniapedrazzi commented on #119
In which branch do you have this error?
I just checked on the master branch and everything seems to work fine.

[2021-08-30 06:32] passalis commented on #119
I also encountered this error once. However, I think that this was due to some misconfiguration on my system. It was solved by cloning the repo again to be in a clean state and creating a new clean venv. I can no longer reproduce this, so I am not sure what caused this.

[2021-08-30 06:33] passalis commented on #103
I am closing this, since this issue does not seem to affect testing any more.

[2021-08-30 06:33] #103 closed

[2021-09-01 19:41] #2 closed

[2021-09-03 11:22] LukasHedegaard opened #123 "Tests cancel after 360 m"
With a growing toolkit size, CI tests are naturally taking longer and longer. However, the test duration has now reached a point, where GitHub Actions cancels tests before they finish (after 360 minutes). This makes integration of bug-fixes or new tools impossible in the current setup, even through the tests themselves do not have errors.

A "hack" to circumvent this could be to split the Test API

[2021-09-03 11:27] stefaniapedrazzi commented on #123
You are welcome to go ahead and implement this solution.
We could add a script in the test folder that automatically loops through all the available folders and launches the tests.

[2021-09-06 10:18] charsyme opened #124 "Error on tests on object_tracking_3d_ab3dmot"
ERROR: test_eval (tools.perception.object_tracking_3d.ab3dmot.test_object_tracking_3d_ab3dmot.TestObjectTracking3DAb3dmot)

  File "/home/runner/work/opendr_internal/opendr_internal/src/opendr/perception/object_tracking_3d/ab3dmot/algorithm/evaluate.py", line 475, in compute
    t = seq_tracker[f]
IndexError: list index out of range

[2021-09-07 12:23] stefaniapedrazzi commented on #114
This may also be related to #125.

We should then check and enable again this test.

[2021-09-10 11:14] #123 closed

[2021-09-20 14:08] vniclas commented on #119
This should not be possible anymore with the latest changes on master (#112) but result in failed tests during CI.

Thus, this issue can probably be closed. @iliiliiliili?

[2021-09-21 06:01] passalis commented on #119
I am still facing this issue locally (on c_face_recognition branch, which is up-to-date with the master). The error is the same

[code]

This is on a clean repo clone and on fresh Ubuntu 20.04 installation. It is very strange, since I am just running the same commands as the CI setup script.

[2021-09-21 06:12] passalis commented on #119
I found out that this originates also from face recognition (this tool uses a different version for matplotlib), so I will fix it within the same PR.

[2021-09-21 06:21] #119 closed

[2021-09-21 14:05] passalis opened #127 "Tests stuck on activity recognition"
I think that tests now get stuck at activity recognition tests for no specific reason. I can successfully run this tests locally. However, there are three runs in which these tests seem to have stuck:

https://github.com/tasostefas/opendr_internal/pull/94/checks?check_run_id=3662854127
https://github.com/tasostefas/opendr_internal/pull/107/checks?check_run_id=3662837030
https://github.com/tasostef

[2021-09-21 19:45] passalis commented on #127
@LukasHedegaard could please take a look on this?

It seems that the tests were also failed on the recent bugfix (https://github.com/tasostefas/opendr_internal/runs/3660218030) that was merged on the master branch.

[2021-09-22 08:34] LukasHedegaard commented on #127
My apologies, it seems I merged the branch prematurely. A PR #128 with a proposed fix has been opened.

[2021-09-23 08:42] #127 closed

[2021-09-23 08:42] passalis commented on #127
#128 resolved this issue. Thank you!

[2021-10-05 04:31] passalis opened #131 "Consistency of input for various algorithms contained in OpenDR"
Different implementations might receive input in different formats in OpenDR toolkit. For example, the shape of the image input can be either *NHWC* or *NCHW*, where *N* is the number of images, *H/W* is the height/width of an image, and *C* denotes its channels. PyTorch defaults to *NCHW*, while TensorFlow defaults to *NHWC*. OpenDR should obviously select and stick with one choice to ensure the

[2021-10-05 04:50] passalis opened #132 "Simplify the import path of algorithms"
Currently, implementations do not expose the main *Learner* class, as well as any of the developed tools in the root `__init__.py `.  This results in very long import paths that negatively affect the ease of use of the toolkit. For example, my suggestion would be to go from:

[code]

to simply

[code]

This can be easily achieved simply by appropriately importing the Learner class in the algorithm

[2021-10-05 06:47] LukasHedegaard commented on #131
I believe it would make sense to adopt one of the existing common standards. I do think that most perception algorithms in OpenDR use PyTorch. As far as I can see, the `torchvision` project uses channel order _RGB_ (see [line 251](https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py#L42)), _NCHW_ for images and _NCTHW_ for videos (see [here](https://github.com/pytorch/visio

[2021-10-05 09:09] vniclas commented on #131
I agree with @LukasHedegaard to follow the _torchvision_ conventions. I would further propose to implement `from_file()` functions for the various `Data` classes, e.g., to ensure that images are loaded as RGB.

[2021-10-14 10:15] vniclas opened #134 "Outdated documentation for ROS perception packages"
The [README](https://github.com/tasostefas/opendr_internal/tree/c94c7a6253bea5ce31299312731163d39afad522/projects/opendr_ws/src/perception) for the ROS perception packages is outdated. The same problem appears [here](https://github.com/tasostefas/opendr_internal/blob/c94c7a6253bea5ce31299312731163d39afad522/projects/opendr_ws/README.md).

I assume that the authors of the respective PRs simply forg

[2021-10-15 13:14] vniclas opened #139 "Failing tests on master"
As visible in PR #135, the tests are currently failing on the master branch. Most likely this is caused by an upgrade of the _pyyaml_ version on pip, see https://pypi.org/project/PyYAML/#history.

What I have already tried:
- explicitly setting `pyyaml=5.3`
- explicitly setting `pyyaml=5.4.1`

For the latter, there's a conflict between the version required in the _mobile manipulation_ package and

[2021-10-18 11:46] #139 closed, assigned to nobody

[2021-10-21 13:42] #134 closed, assigned to nobody

[2021-10-22 08:12] vniclas opened #141 "PR merge options: Squash and merge"
Hi,

Can we somehow enforce the "squash and merge" option when merging a PR to master? This would greatly enhance the commit stream and remove all the unnecessary clutter, e.g.,

![squash_merge](https://user-images.githubusercontent.com/49001036/138418263-59ae2678-8f51-433a-8e0a-3e0163451b6e.png)

[2021-10-25 15:46] thomaspeyrucain opened #143 "Create a submodule with ROS nodes only"
Have an easy to install submodule with only the ROS ready tools
It should be like a ROS package and if cloned inside the src folder of the catkin workspace; it should build successfully with catkin build command
Maybe we need to do this incrementally

[2021-11-01 09:14] ad-daniel opened #148 "Status of ROS interface"
List showing which tools currently provide a ROS interface.

**Perception:**

- [x] Face Detection
   - [x] RetinaFace
- [x] Face Recognition
   - [x] Face recognition https://github.com/tasostefas/opendr_internal/pull/147
- [x] Landmark based facial expression recognition
   - [x] Landmark based facial expression recognition
- [x] Human Pose Estimation
   - [x] Lightweight open pose
- [x] Video A

[2021-11-03 15:36] vniclas commented on #141
Following up on this: @passalis, do you happen to know whether there is anyone else who has the required rights?

[2021-11-03 15:37] vniclas commented on #131
How do we proceed to ensure that all of the implemented algorithms respect these conventions? It would probably make sense to discuss (or at least announce it) in one of the next meetings.

[2021-11-23 14:33] vniclas commented on #132
@ad-daniel This should probably also be one of the ToDos before the release.

[2021-11-23 14:37] ad-daniel commented on #132
Yes, can probably be done at the same time/after when we update the base classes.

[2021-11-29 14:08] thomaspeyrucain opened #154 "Integration of fall detection tool for healthcare use-case"
It is a reminder that the fall detection will be something that can be useful for other European project from PAL and would showcase the usefulness of the OpenDR toolkit.
It would be good to address it beginning of next year

[2021-11-30 11:12] ad-daniel commented on #79
Going for option 1, other than updating the specifications accordingly, is any change required at the level of the codebase? As far as I can tell no tool relies on it, nor are the classes defined.

[2021-11-30 12:30] bheijden commented on #79
I agree that removing the RLTarget is a good solution if no one is using it.

[2021-11-30 14:09] dHonerkamp commented on #79
Yes, don't think it needs any code changes

[2021-12-03 08:51] passalis commented on #132
I think this issue has been addressed in #133. I have also updated the contribution instructions in the wiki (https://github.com/tasostefas/opendr_internal/wiki/Adding-New-Tool).

[2021-12-03 08:51] #132 closed

[2021-12-03 08:57] ad-daniel commented on #131
Please check if you have ensured your tool adheres to the convention in Nikos' email.

**Perception:**

- [ ] Face Detection
   - [ ] RetinaFace
- [ ] Face Recognition
   - [ ] Face recognition
- [ ] Landmark based facial expression recognition
   - [ ] Landmark based facial expression recognition
- [ ] Human Pose Estimation
   - [ ] Lightweight open pose
- [ ] Video Activity Recognition
   - [ ]

[2021-12-03 16:44] ad-daniel commented on #79
I think this can be closed for now, thank you all.

[2021-12-03 16:44] #79 closed

[2021-12-06 09:20] passalis commented on #131
I have just realized that `Image.open(image_path)` does not follow NCHW conventions. Therefore, most probably all existing tools already work in NHWC instead of NCHW (they already change the channel order internally).

[2021-12-06 09:38] LukasHedegaard commented on #131
Frankly, I did not test this functionality in the tools, I integrated. The tested images were loaded in another manner without the need for dimension transposition.
So changing `Image.open(image_path)` to use the agreed upon NCHW format, would actually remove a potential bug in my case 😅

[2021-12-06 12:24] vniclas commented on #131
This might actually be a bit more confusing than we initially thought. The `to_tensor()` (torchvision), converting PIL images or NumPy arrays to a tensor, expects an HWC input and outputs CHW as expected by PyTorch.
Thus, if we load images as CHW, we have to make people aware that they have to cast back to HWC before using the built-in `to_tensor()` function in their dataloaders.

[2021-12-06 14:25] vniclas commented on #131
Just to repeat what I also said during the TMT Meeting, we'll have to adjust the [OpenDR](https://github.com/tasostefas/opendr_internal/blob/master/projects/opendr_ws/src/ros_bridge/src/opendr_bridge/bridge.py) bridge as well since OpenCV assumes HWC.

[2021-12-07 07:13] passalis commented on #131
I have opened #164 according to the discussion we had during the last meeting. Please note that I also added an opencv() method to easily obtaining the images into a format that can be used for visualization (check the already updated examples to see its usage). I will also update the documentation and update the rosbridge asap.

[2021-12-09 21:20] vniclas commented on #131
Then we can probably close this issue now.

[2021-12-09 21:31] #131 closed

[2021-12-10 16:02] ad-daniel opened #167 "Lower memory load of `test_stgcn` and `test_stbln`"
I think I've figured out why we've been having issues with the memory. It isn't because of running multiple in parallel (or at least, not directly). Testing it locally, during the test of `test_stgcn` my memory spikes by 6GB, with `test_stbln` it spikes by 7.2GB. Linux github action [runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners) only have 7GB

[2021-12-13 08:39] passalis opened #169 "Missing/Incomplete Demos"
I have identified at least the following tools/tasks for which we do not provide any demo in projects:

**Perception:**
- [x] Speech recognition #188
   - [x] quadraticselfonn
   - [x] matchboxnet
   - [x] edgesspeechnets

**Planning:**
- [ ] End-to-End planner

[2021-12-13 12:28] dHonerkamp commented on #169
Added a PR for the mobile manipulation demo: #170

[2021-12-13 19:00] negarhdr commented on #167
@ad-daniel
For this tool (skeleton-based action recognition), 4 different methods are tested sequentially (tagcn, pstgcn, stgcn, and stbln) and as I remember it always starts with tagcn and ends up with stbln. I am not sure if the memory is cleared after testing each **tool** or after each ** unit test**, BTW, do you think that testing 4 methods sequentially for this tool might cause the memory sp

[2021-12-13 19:53] ad-daniel commented on #167
Unfortunately I don't think that's the issue, in fact you can see the spike just by running them separately with:
`python3 -m unittest tests/sources/tools/perception/skeleton_based_action_recognition/test_stbln.py`
![test](https://user-images.githubusercontent.com/44834743/145878471-3efe5149-adb3-4ade-87ab-974eadfaf1e9.png)

[2021-12-15 07:04] passalis commented on #148
I updated the list with recent PRs adding more nodes. I checked the tasks for which there is an open PR, in order to keep track what is actually missing.

[2021-12-15 16:26] ad-daniel commented on #167
Should be fine now.

[2021-12-15 16:26] #167 closed

[2021-12-16 13:23] passalis commented on #141
Settings have been updated to allow only for squash merging.

[2021-12-16 13:23] #141 closed

[2021-12-16 13:47] passalis commented on #114
@iliiliiliili this is now resolved. Is this correct?

[2021-12-16 20:07] charsyme commented on #124
@passalis I think it was fixed that period

[2021-12-17 10:33] passalis commented on #124
Ok, so I think we can close this.

[2021-12-20 13:27] iliiliiliili opened #190 "WSL support"
Currently, [WSL](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux) is not fully supported.
The CPU wheel installation works on Ubuntu 18, but fails on WSL1 Ubuntu 18 for Windows 10 with the following error:
[code]
The installation of `libfreetype6-dev` by 'sudo apt-get install --yes libfreetype6-dev' does not change the result.

[2021-12-20 14:26] iliiliiliili commented on #190
The same happens in WSL1 Ubuntu 20 for Windows 10:
[code]

[2021-12-23 06:38] passalis commented on #148
I see that we are no longer missing any ROS node. I am closing this issue for now.

[2021-12-23 06:38] #148 closed

[2022-01-05 18:43] pkraison commented on #190
Hey, thanks for the amazing work. did you try just matplotlib in the requirements file, without version(2.2.2)

[2022-01-06 09:05] passalis commented on #190
We should try this, since this version can create issues also on recent Linux systems and might easily solve the issues we have.

I have also tried to run the CPU docker on windows and seems to run without any issues (Windows 10 - Build 19043.1415, Docker Desktop  4.3.2). So, it seems that we have at this point at least one way to make the toolkit accessible to Windows users without any major issu

[2022-01-06 12:15] gamzeakyol opened #194 "Error while installing with pip"
Hi,

I would like to install opendr with pip as instructed in installation.md but had an error. Error message says:

ERROR: Could not find a version that satisfies the requirement opendr-toolkit (from versions: none)
ERROR: No matching distribution found for opendr-toolkit

Could you please help for this situation?

Thanks,

[2022-01-06 15:13] ad-daniel commented on #194
Hi, I've tried again and it appears to be working for me (Ubuntu 20). Are you using Ubuntu 20? Can you provide the full output when executing the instructions, in case something else isn't working.

[2022-01-06 19:34] passalis commented on #194
As @ad-daniel suggested, we need some additional information to troubleshoot this.

I suspect that this is most probably related to not using Python 3.8 (currently a pre-built wheel is only provided for 3.8, since toolkit has been tested only on Python 3.8). There is no sdist or bdist wheel for other distributions so pip will not find a match for these.

If this is the case (e.g., if you are using

[2022-01-10 14:27] LukasHedegaard opened #197 "Compatibility with TX2 and Xavier?"
Does the OpenDR library have a requirement for full compatibility with TX2 and Xavier?
For instance, the activity recognition dataset Kinetics has a dependency on `av` in most open-source dataloaders, as well as in the OpenDR implementataion. However `av` cannot be installed on TX2.

In this case, the question is whether the `av` library dependency should be removed completely (and the dataloader

[2022-01-10 14:42] passalis commented on #197
@LukasHedegaard thanks for highlighting this.

I think that we do not need to make training tools fully available for TX-2 and Xavier. In most practical scenarios that I can think of right now (and we have described as supported use cases), only inference is going to be needed on these platforms (apart from very specific tools, where part of the training pipeline might be needed - most probably on

[2022-01-26 03:57] sisaha9 commented on #169
@passalis What are the current considerations for the end to end planner?

[2022-01-26 08:01] passalis commented on #169
There is a PR open #82 for this tool.

[2022-01-27 16:44] thomaspeyrucain opened #205 "[Face_recognition] Instructions missing for adding custom database + bug"
[code]
It says GPU found but I am with cuda 11.2 it should detect that it is not compatible,
I get this error when running the script

[2022-01-28 09:19] thomaspeyrucain opened #206 "[grasping demo] Issue when running the augmentation gui"
[code]

[2022-01-31 08:09] passalis commented on #205
Torch bundles its own cuda distribution, so this should work regardless the cuda that you have installed on your system (so if it says that a GPU is detected, most probably it will work).

I think that issue here is that the node subscribes to a topic before being initialized, which probably leads to these errors. However, I think that the node should still work. @Pavlos-Tosidis can you please che

[2022-01-31 08:16] passalis commented on #206
@amirmehman21 would it be possible to have a look at this?

[2022-01-31 10:09] amirmehman21 commented on #206
Sure, I'll get back to you soon

[2022-02-01 10:57] thomaspeyrucain opened #209 "[ROS nodes] Inputs topics options for ROS"
In order for the toolkit to be more homogeneous we would need to choose between those two options:

1. Use the input topics as an option to pass to the rosrun like : rosrun perception test.py input_topic:=/input. This option would require to create a roslaunch file where you would need to modify there the input topics.
For example this package is using this method : https://github.com/opendr-eu/op

[2022-02-02 13:47] iliiliiliili opened #210 "Git clone installation on Ubuntu 18"
After clonning the repository on a new Ubuntu 18 user, and running `./bin/install.sh`, it failed after some time with `face_recognition.cpp:23:10: fatal error: filesystem: No such file or directory`:

[code]

[2022-02-02 15:23] iliiliiliili commented on #210
It looks like this problem does not exist on WSL2 + Ubuntu 20

[2022-02-03 12:58] passalis commented on #194
We have already switched into using source distributions, so this should be working (however, I am not sure if all dependencies can be met). We are also working on providing modular packages that will have a smaller number of dependencies and will be easier to install (#201)

[2022-02-08 15:48] negarhdr opened #216 "onnxruntime installation error"
After cloning the repository on TX2 and Xavier systems with Ubuntu 18 , and running ./bin/install.sh, it failed after some time with the following error:

g++ -fPIC -c opendr_utils.cpp -o /home/maleci/opendr/build/opendr_utils.o -I/usr/local/include/onnxruntime/ `pkg-config --cflags opencv4` -I/home/maleci/opendr/include
g++ -fPIC -c face_recognition.cpp -o /home/maleci/opendr/build/opendr_face_re

[2022-02-08 15:50] iliiliiliili commented on #216
Installation of the Jetson onnx runtime from the [Nvidia Jetson Onnx Runtime](https://developer.nvidia.com/blog/announcing-onnx-runtime-for-jetson/) did not fix the problem

[2022-02-08 15:53] iliiliiliili opened #217 "Installation when venv is not available"
If venv is not installed in the system (Jetson Xavier in my case), the installation goes on, but in the console output shows that venv is not created. Should it be either stopped, or notified that it will be installed directly?

[2022-02-08 16:09] iliiliiliili opened #218 "Pytorch installation on Jetson"
Pytorch for Jetson devices with GPU support cannot be installed directly and has to be installed using [provided pip wheels](https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048). These wheels are available for Python 3.6 only and cannot be installed via pip install torch==1.7.1. How should it be incorporated into Jetson installation? I believe, it is best to h

[2022-02-09 06:08] passalis commented on #218
Did you use the [jetson_install.sh](https://github.com/opendr-eu/opendr/blob/tx2_install/bin/install_tx2.sh) script? I think it downloads one of these wheels.

[2022-02-09 06:17] passalis commented on #216
Please use the [install_tx2.sh](https://github.com/opendr-eu/opendr/blob/tx2_install/bin/install_tx2.sh) script for installing in TX-2. The error log shows that the installation fails when compiling the C API against ONNX (which is expected, since `install.sh` downloads an x86 pre-compiled version of onnx). If the pip wheel that is available for jetson contains the headers, then we can point the c

[2022-02-09 08:58] Pavlos-Tosidis commented on #217
[TX2_install.sh](https://github.com/opendr-eu/opendr/blob/tx2_install/bin/install_tx2.sh) is installing the toolkit directly on the system.

[2022-02-09 11:52] Pavlos-Tosidis commented on #205
These are addressed in #219

[2022-02-10 08:42] passalis commented on #169
I am closing this, since there all demos have been integrated in the first version, apart from the end-to-end planner that will be part of the next release.

[2022-02-10 08:42] #169 closed

[2022-02-10 11:05] vniclas commented on #218
@passalis I am a bit confused concerning the installation on Jetson devices. Is the script linked in your reply supposed to be used for all Jetson models or just for TX2?

[2022-02-10 11:14] passalis commented on #218
The script (I fixed the name in my previous answer) was developed for TX-2. Also, I am not sure that it supports all the tools, so each partner should check its own tools (#195 is open). It can be also used as a template to develop similar scripts for other jetsons.

[2022-02-10 11:49] Pavlos-Tosidis opened #220 "Opencv-Python and online activity recognition"
Installation of the toolkit with git clone and ./bin/install.sh installs opencv-python-4.5.1.48. [Online activity recognition](https://github.com/opendr-eu/opendr/tree/master/projects/perception/activity_recognition/demos/online_recognition) won't work with this version. Installing opencv-python-4.5.5.62 fixes the problem.

[2022-02-12 21:30] Pavlos-Tosidis commented on #218
There are instructions in #195 on how to run the script on Xavier AGX and NX. As @passalis mentioned, some tools are not supported due to some dependencies missing, so each partner should check its own tools.

[2022-02-14 14:55] LukasHedegaard commented on #220
You link to the Online activity recognition demo; is this the demo that doesn't work or do you experience issues with the activity recognition tool itself?

If it is only the demo that has issues with `opencv-python-4.5.1.48`, we could note `opencv-python==4.5.5.62` in the associated [requirements.txt](https://github.com/opendr-eu/opendr/blob/master/projects/perception/activity_recognition/demos/o

[2022-02-14 15:07] LukasHedegaard opened #225 "Installation error on Ubuntu 18 with GPU support (No package 'opencv4' found)"
## Steps to reproduce:
OS: Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-167-generic x86_64)

Follow [installation instructions](https://github.com/opendr-eu/opendr/blob/master/docs/reference/installation.md)
1. Clone toolkit
[code]
1. Install toolkit
[code]

## Error message:
[code]

## Discussion
The error message hints to a lacking co-installation of `opencv`. If it is assumed that `opencv` is installed

[2022-02-14 17:32] passalis commented on #225
The issue probably arises either due to opencv not being installed or `pkg-config` using a package name that is different on Ubuntu 18.04.  This issue seems to arise only when installing on an unsupported configuration (Ubuntu 18.04 is [not supported](https://github.com/opendr-eu/opendr/blob/master/docs/reference/installation.md) for clone&install), since it works as expected on Ubuntu 20.04 (see

[2022-02-15 10:06] LukasHedegaard commented on #225
The rest of the toolkit does indeed work on Ubuntu 18. I had missed the lack of Ubuntu 18 support and the issue #210.
Closing this issue as it is a duplicate  of #210.

[2022-02-15 10:06] #225 closed

[2022-02-24 09:27] Pavlos-Tosidis commented on #220
I think we should run the tests with opencv-python==4.5.5.62 and if everything passes, change the requirements accordingly.

[2022-03-09 06:02] passalis commented on #205
I see that #219 has been merged. @thomaspeyrucain @Pavlos-Tosidis is this resolved? should we close the issue?

[2022-03-09 07:46] Pavlos-Tosidis commented on #205
This is resolved, waiting for dev branch to be merged into master to close this.

[2022-03-09 07:49] #205 closed

[2022-03-11 08:54] Pavlos-Tosidis commented on #218
Closing this, as #195 address this.

[2022-03-11 08:54] #218 closed

[2022-03-11 08:55] Pavlos-Tosidis commented on #217
Closing this as #195 address this and the instructions are clear about venv not being needed for Nvidia's supported embedded systems.

[2022-03-11 08:55] #217 closed

[2022-03-11 08:56] Pavlos-Tosidis commented on #216
Closing this as for supported Nvidia's embedded devices, the installation script @passalis mentioned should be used to install the toolkit.

[2022-03-11 08:56] #216 closed

[2022-03-11 14:00] #36 closed, assigned to nobody

[2022-03-22 08:16] passalis opened #243 "Docker images are too large"
We could consider reducing the size of docker images that seem to exceed 20GB in some cases. Lightweight images could be also be provided (removed large components) if there is no way to further reduce the size of the imags.

[2022-06-01 17:28] davelbit opened #259 "Skeleton-based Human Action Recognition Demo FAILS"
After cloning the repository I was keen on testing the skeleton based action recognition, by issuing the following command:
`python3 demo.py --device cuda --video 0 --method stgcn --action_checkpoint_name stgcn_ntu_cv_lw_openpose` as suggested here:
`https://github.com/opendr-eu/opendr/blob/master/projects/perception/skeleton_based_action_recognition/REAMDE.md`

But the program ended with the foll

[2022-06-02 07:17] passalis commented on #259
Hi davelbit,

Thanks for your interest in our toolkit and for pointing out this bug. We replicated this bug and we are looking into this. We will get back soon.

[2022-06-03 06:04] passalis commented on #259
We have identified the cause  and fixed this issue in #260. Could you try the [HAR_demo_fix](https://github.com/opendr-eu/opendr/tree/HAR_demo_fix) branch to see if this fixes the issue for you?

[2022-06-03 09:56] davelbit commented on #259
I have cloned the HAR_demo_fix branch as suggested but found that the error still seems to exist. Can you confirm that the error is still present on your end?

[2022-06-04 19:31] passalis commented on #259
The bug related to `TypeError` seems to have been resolved for me. Please make sure that you source the new environment after cloning the branch (e.g., make sure that `PYTHONPATH` is pointing to the corrected clone). Let us know if this fixes the issue.

[2022-06-05 17:46] davelbit commented on #259
I missed to source the environment. It works now for me as well.

[2022-06-05 17:46] #259 closed

[2022-06-15 11:19] passalis commented on #194
We have release the new version that has switched into using source distributions. This issue should be now resolved. @gamzeakyol would be possible to kindly check if this solves the issue for you?

[2022-07-04 09:01] tsampazk opened #275 "ROS nodes delay"
### General Description
Some ROS nodes exhibit delay between the current frame and the frame that is being published.

### Cause
This is because in most (all?) nodes the subscriber which uses the callback that performs inference, has a `queue_size` of `10`. If the callback inference is slow, the subscriber keeps the incoming frames and processes them all one-by-one. When processing of one frame en

[2022-07-05 13:21] tsampazk commented on #209
Hey @thomaspeyrucain, can you please take a look at the new [ROS2 Pose Estimation node](https://github.com/opendr-eu/opendr/blob/ros2-object-detection/projects/opendr_ws_2/src/opendr_perception/opendr_perception/pose_estimation_node.py)?

It uses argparse as the node in the link you provided in 1. Through the arguments, the input image topic, the output image topic as well as the detection message

[2022-07-11 12:48] passalis commented on #243
This is being addressed (to some extent) in #276

[2022-07-11 12:51] passalis commented on #194
I am closing this issue, since it seems that this has been addressed in the new release. We can re-open it if the problem comes back.

[2022-07-11 12:51] #194 closed

[2022-07-15 11:24] tsampazk opened #282 "Fall Detection - Provide infer method that works with either image or pose"
### Current situation

Edit: Main issue is fixed see comment below.

Right now, the standalone fall detection tool [uses](https://github.com/opendr-eu/opendr/blob/3a9a119f2f4391c3d9ba5f2f998400ffb61f72cf/src/opendr/perception/fall_detection/fall_detector_learner.py#L219-L228) a pose estimation learner internally ([which is provided in the learners ctor](https://github.com/opendr-eu/opendr/blob/3a9

[2022-07-28 02:21] tetsu opened #283 "Missing Docker images"
It seems [OpenDR Docker images on Docker Hub](https://hub.docker.com/r/opendr/opendr) are missing. If you can upload docker images or provide dockerfiles on Github, it'll be really helpful. Thank you.

[2022-07-28 02:35] #283 closed

[2022-07-28 06:07] ad-daniel commented on #283
Hi, the docker images are available here: https://hub.docker.com/r/opendr/opendr-toolkit

[2022-07-28 06:07] passalis commented on #283
Hi, the docker images are available at https://hub.docker.com/r/opendr/opendr-toolkit while the dockerfiles are also available on the root of this repo (e.g., https://github.com/opendr-eu/opendr/blob/master/Dockerfile)

[2022-08-20 11:39] tsampazk commented on #275
I'll document my understanding below for future reference. After the fixes you should expect a delay of 2 frames. This is because, as far as i can tell, **we have to work with a minimum buffer of size `1`**, plus the frame that was already being processed. In more detail:

![ROS_delay_diagram](https://user-images.githubusercontent.com/27914645/185743734-8f996c76-a376-4cd0-a703-6367a48f34f9.jpg)

A

[2022-08-22 09:08] passalis commented on #275
I think this explains the expected behavior in a very nice way. We can perhaps mention this issue  in the documentation (or even move the diagram and explanation there).

[2022-08-29 09:41] charsyme opened #292 "Change image in OpenCV format before saving in ROS1 simulation package"
The following line should be changed to "cv2.imwrite('./rendering.png', out_imgs[0].opencv())"

https://github.com/opendr-eu/opendr/blob/3a9a119f2f4391c3d9ba5f2f998400ffb61f72cf/projects/opendr_ws/src/simulation/scripts/human_model_generation_client.py#L49

[2022-08-29 10:41] passalis commented on #292
Hi @charsyme, thanks for catching this. Feel free to add this change to #291 if you wish.

[2022-08-29 11:34] #292 closed

[2022-08-31 12:16] passalis commented on #210
I am closing this issue, since we are now explicitly referring to unsupported system configurations in #293

[2022-08-31 12:16] #210 closed

[2022-08-31 12:17] passalis commented on #190
I am closing this issue, since we are explicitly referring to unsupported system configurations in #293

[2022-08-31 12:17] #190 closed

[2022-09-02 02:50] lakpa-tamang9 opened #294 "How to use my own custom dataset. Is there any method to create custom dataset besides the existing NTU and kinetics skeletal dataset?"
https://github.com/opendr-eu/opendr/blob/28c53725285cb5f156aa785164c0a0ba9ce76b96/projects/perception/skeleton_based_action_recognition/benchmark/benchmark_stgcn.py#L38

[2022-09-07 14:34] negarhdr commented on #294
Hi, Thanks for your interest in our tool.

In order to train the models on a custom-skeleton dataset, you need first to employ lightweight openpose method to extract body poses from the videos. We have a code for that in this directory:
opendr/projects/perception/skeleton_based_action_recognition/demos/skeleton_extraction.py

Our models and learners are designed for NTU and kinetics-skeleton datas

[2022-09-12 12:39] thomaspeyrucain opened #299 "rosnode - object_detection_2d_yolov3.py - error when echoing objects topic"
The output image is working but I cannot echo the object topic, I am using opendr installed on my computer on the develop branch

First I get this warning:
[code]
And then I get this error when trying to echo the /open/objects:
`rostopic echo /open/objects`

[code]

[2022-09-12 14:31] thomaspeyrucain opened #301 "rosnode - semantic_segmentation_bisenet.py - not working anymore"
The output image was working before but not anymore, I am using opendr installed on my computer on the develop branch and I got this warning and no image or topic are outputted when launching the node:
[code]

[2022-09-12 15:05] thomaspeyrucain opened #302 "rosnode - video_activity_recognition.py - parameters + error"
Parameters need to be consistent with other tools with agparser

I am using opendr installed on my computer on the develop branch
I get this error when launching the node:
[code]

[2022-09-12 15:19] thomaspeyrucain opened #303 "rosnode - rgbd_hand_gesture_recognition.py - parameter"
Parameters need to be consistent with other tools with agparser

I am using opendr installed on my computer on the develop branch, I am feeding the rgb camera topic and the depth_image like this one:
![image](https://user-images.githubusercontent.com/87322480/189691815-70295f19-f66f-455e-ac79-eff6f0c78533.png)

I cannot get an output from the /opendr/gestures topic
Is the depth_image topic differe

[2022-09-12 15:28] thomaspeyrucain opened #304 "rosnode - skeleton_based_action_recognition.py - not executable + message error"
File is not executable

Parameters need to be consistent with other tools with agparser

I am using opendr installed on my computer on the develop branch
[code]

The pose message from pose_estimation has changed

[2022-09-13 07:20] tsampazk commented on #301
Hey @thomaspeyrucain, i can't reproduce the issue locally unfortunately, as it runs properly.

Could you please remove the try/except [here](https://github.com/opendr-eu/opendr/blob/364f0006560ae1089b50b4a90118ac557b8b5658/projects/opendr_ws/src/perception/scripts/semantic_segmentation_bisenet.py#L89-L111) and rerun the node? It should give you a proper exception message so we can make sense of wh

[2022-09-13 07:38] thomaspeyrucain commented on #301
I get this error:
[code]

[2022-09-13 07:43] tsampazk commented on #301
Oh ok this was a known issue in development that was fixed by Niclas. I think you should update your develop branch as the `opencv` method was added on the `Heatmap` target class 8 days ago as seen [here](https://github.com/opendr-eu/opendr/commit/f59deb6f2a076f7247fddd9a9f9ff673f05029ea#diff-dfcd13e5b831454a1ff9051d09e618e6f9bd5949c121831a3c8cd9a3d0908bfd) and is now present in the [develop branc

[2022-09-13 08:02] thomaspeyrucain commented on #301
Yes, it is fixing the issue thanks,
Regarding the Heatmap, it is a bit dark is it normal ?
![image](https://user-images.githubusercontent.com/87322480/189844603-91111f27-ca02-47ad-9cc4-6cab28e3edd6.png)

[2022-09-13 08:05] tsampazk commented on #301
Yes, this is the image with every pixel value replaced with a class id, so it is supposed to be read and used in code as far as i can tell.

For visualization purposes i have created an rgb image output on topic `/opendr/heatmap_visualization` that blends the original image with the rgb heatmap (where every color matches a class id) as well as a color-class legend.

[2022-09-13 08:07] thomaspeyrucain commented on #301
Ok perfect thanks ^^

[2022-09-13 08:07] #301 closed

[2022-09-13 10:15] tsampazk commented on #299
Hey @thomaspeyrucain this should be fixed in #300, feel free to test it and close the issue.

Warnings can be safely ignored, output gets produced properly.

[2022-09-13 10:50] thomaspeyrucain commented on #299
Hello again @tsampazk ,
Perfect thanks
I have just pulled and tested and it worked
I will wait for your ROS1 rosnode fix list before opening other issues so that I am sure it is not yet addressed in one of the MR

[2022-09-13 10:50] #299 closed

[2022-09-13 11:01] tsampazk opened #305 "[Tracker] ROS1 nodes updates and dixes"
This issue serves to track the progress on the updates on all ROS1 nodes, as per the use-case partner feedback as well as fixes regarding consistency across all nodes. Also, the delay issues mentioned in #275 should be fixed along with the other changes, as well as issue #209 relating to input topics etc.

Main issues to fix:
----

Below there's a list of main issues that need fixing, i tried to c

[2022-09-13 11:05] tsampazk commented on #299
@thomaspeyrucain i just opened the tracker issue #305 to keep track of all updates.

[2022-09-13 15:37] negarhdr commented on #305
Two new branches (on top of develop) for skeleton-based_action_recognition and landmark-based_facial_expression_recognition are created which are called "har_ros1_fix", "fer_ros1_fix", respectively.
In "har_ros1_fix", the script "skeleton_based_action_recognition" is updated and in  "fer_ros1_fix", the script "landmark_based_facial_expression_recognition" is updated.
Please check them out and let

[2022-09-14 08:48] tsampazk commented on #305
Hey @negarhdr!

I checked the changes out, they seem pretty good apart from some really minor things.

Feel free to open pull requests to merge them into the develop branch and i can comment on the minor issues on the review.

[2022-09-14 13:01] AleaScovill opened #309 "Errors when testing tools"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta n

[2022-09-14 14:10] tsampazk commented on #309
Hey @AleaScovill! I have some questions and comments:
1. Are you testing the updated nodes from the `develop` branch or are you using the `master` branch?
2. From what i can tell, pose estimation, fall detection and object detection 2d yolov3 are running without any problems?
3. The basic way to modify the nodes would be through argparse, so to run a node with a custom input and output topic it wo

[2022-09-15 07:00] AleaScovill commented on #309
Hi Kostas,

  1.  We are testing the docker - Not sure if it is develop or master. TX2_install is the branch. Docker version tx_2_v1.1
  2.  Yes
  3.  Thanks
  4.  Will the documentation be updated to reflect issue #305?

Best regards / Med venlig hilsen

Alea Scovill
R&D Manager

AGROINTELLI | Agro Food Park 13, Skejby | 8200 Aarhus N | Denmark | www.agrointelli.com<http://www.agrointelli.com/> |

[2022-09-15 12:12] tsampazk commented on #309
Hey @AleaScovill, thanks for answering the questions!

The docker image you are using is built from the master branch so it doesn't contain the latest updates of the nodes unfortunately.
We had a discussion with Pavlos regarding this today. We will investigate into building an image from the develop branch so you can test the most up-to-date nodes and other solutions which we can discuss in the ne

[2022-09-22 09:49] stefaniapedrazzi opened #314 "Missing "panopticapi" module on single tool install using pip"
When installing the single `opendr-toolkit-object_detection_2d` following the [instructions](https://github.com/opendr-eu/opendr/blob/master/docs/reference/installation.md#installing-only-a-particular-tool-using-pip-cpugpu) I get this error on import:
[code]

I'm further investigating if I did something wrong during the installation.

[2022-09-22 09:55] stefaniapedrazzi commented on #314
To make it work I have to install manually:
* tensorboardX
* git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi

[2022-10-08 18:31] minhquoc0712 commented on #303
@thomaspeyrucain , I have created the branch named `ros1-fixed-rgbd-hand-gestures-recognition`. Can you try to run the corresponding ros node from this branch? Since currently I don't have any kinect device with me to test the fixed ros node.

[2022-10-11 09:42] charsyme opened #334 "Problematic generation of 3D human models"
Thank you for the fixes @charsyme ! There are some minor changes that are still needed and we should be good to go.

Regarding the error, i still got it when trying to run the node the `ros2-human-model-generation` branch. I reverted the line to the old version `marching_cubes_lewiner` instead of the current version `marching_cubes` (which also produces a warning `Cannot find reference 'marching_c

[2022-10-12 08:27] #314 closed

[2022-10-12 10:22] tsampazk commented on #334
I ran the nodes again and noticed that on the pop-up windows that show the produced images, both get produced properly. It's when i open the images that are saved locally that the glitched photo appears.

[2022-10-14 14:10] thomaspeyrucain commented on #303
Hello @minhquoc0712 ,
Sorry for the late reply, I saw that it is already merged in develop, I retried and I cannot succeed to get the output topic, maybe we can quickly meet next week to check it

[2022-10-17 15:19] minhquoc0712 commented on #303
Are you using the newest version of the node? Since after we merge the fix branch into `develop`, we also fix some bugs.

[2022-10-17 16:17] thomaspeyrucain commented on #303
Yes

[2022-10-18 09:27] minhquoc0712 commented on #303
@thomaspeyrucain, can you try the node I just updated in this branch, and maybe modify the `delay` parameter if needed?

[2022-10-18 10:16] thomaspeyrucain commented on #303
@minhquoc0712 Yes thanks now I get the output:
[code]
I cannot find in the documentation what ID correspond what gesture

[2022-10-18 10:35] tsampazk commented on #303
@minhquoc0712 @thomaspeyrucain do you think we could add the id-gesture correspondence in the [learner doc](https://github.com/opendr-eu/opendr/blob/develop/docs/reference/rgbd-hand-gesture-learner.md), similar to what i did in [semantic segmentation](https://github.com/opendr-eu/opendr/blob/ros-nodes-docs/docs/reference/semantic-segmentation.md#semantic_segmentation-module)?

[2022-10-18 10:39] thomaspeyrucain commented on #303
@tsampazk Yes would be perfect ^^

[2022-10-18 11:11] minhquoc0712 commented on #303
Hi, I am not the person implementing the algorithm, but I think I can use the information from the file `opendr/projects/perception/multimodal_human_centric/rgbd_hand_gesture_recognition/gesture_recognition_demo.py` in the `master` branch to create the class correspondence table.

[2022-10-18 11:18] tsampazk commented on #303
Thanks @minhquoc0712, i think you can add it directly in #343.

[2022-10-18 11:34] tsampazk commented on #302
Hey @thomaspeyrucain could you please check if the issues are indeed resolved (should be, by https://github.com/opendr-eu/opendr/pull/322) in the develop branch, so we can go ahead and close this issue?

[2022-10-18 12:50] thomaspeyrucain commented on #302
Hello @tsampazk, Yes now it is working, is there a list also of all the activities with the ID ?

[2022-10-18 12:53] LukasHedegaard commented on #302
I'm not sure what your question is, @thomaspeyrucain. There's a list mapping class ID to human-readable names in `opendr/src/opendr/perception/activity_recognition/datasets/kinetics400_classes.csv`

[2022-10-18 12:58] thomaspeyrucain commented on #302
Hello @LukasHedegaard ,
Would it be possible to add a link to this file in the documentation of the rosnode?

[2022-10-18 13:52] tsampazk commented on #302
I think that it would be better to add a link to the .csv file in the learner docs [here](https://github.com/opendr-eu/opendr/blob/develop/docs/reference/activity-recognition.md), as the table is quite big. I will add it there as well as in the ROS docs through the open [PR that overhauls the ROS docs](#316).

[2022-10-18 13:52] #302 closed

[2022-10-18 13:53] thomaspeyrucain commented on #302
Thanks ^^

[2022-10-19 05:53] minhquoc0712 commented on #303
Hi @thomaspeyrucain, I have updated id-class information in the [document](https://github.com/opendr-eu/opendr/blob/ae53093075195410af7c4450854057bb8a13cfa1/docs/reference/rgbd-hand-gesture-learner.md). Can you check if the algorithm working properly?

[2022-10-20 15:59] thomaspeyrucain commented on #303
Hello @minhquoc0712 ,
Would it make sense to add a picture of the gestures from the paper?
I tested it but I am not sure what is the optimal distance for it to work? and if the angle of the camera is important ?

Also, It is often giving a detection of the ID 8 punch with a lot of confidence even if nothing is detected

[2022-10-21 07:13] minhquoc0712 commented on #303
Hi @thomaspeyrucain,

I have updated the [document](https://github.com/opendr-eu/opendr/blob/ros1-fixes-no-output-rgbd-hand-gesture-recognition/docs/reference/rgbd-hand-gesture-learner.md) with example gestures from the paper.

About the second question, I cannot answer it since I did not implement this algorithm from the beginning. Maybe I will discuss it with my team, or you can bring it up at t

[2022-10-24 12:39] tsampazk commented on #304
This issue should be fixed by #308

[2022-10-25 10:37] tsampazk commented on #304
Hey @thomaspeyrucain, could you test the updated relevant node to see if the issues faced persist or not so we can go ahead and close this issue?

[2022-10-25 12:22] thomaspeyrucain commented on #304
Hello @tsampazk, I just tested it and it is working the same way as before ^^

[2022-10-25 12:22] #304 closed

[2022-10-25 12:22] tsampazk commented on #304
Great thanks!

[2022-10-26 12:57] katerynaCh commented on #303
Hi @thomaspeyrucain I am also not the person who implemented the algorithm, but I worked with the provided trained model for the demo last year and I found it to be pretty sensitive wrt distance/position of person/etc. It is due to the fact that the dataset it was trained on is pretty small and does not contain "in-the-wild" images, but only images of several people in a similar lab environment. Y

[2022-11-02 14:32] tsampazk opened #347 "ROS1 nodes publishing low confidence detections"
It has been reported that some ROS nodes are publishing low confidence detections continuously even when no detection can be made.

### How i tested the nodes
I tested all ROS1 nodes that i could from the `develop` branch by running them locally with a webcam and microphone. For the rest of the nodes that i could not run, i examined the code to determine, if i could, what they are publishing.

###

[2022-11-29 15:33] tsampazk opened #362 "BoundingBoxList(Target) ctor throws RuntimeWarning when provided with empty list"
I noticed that when running various object detection inference demos i got the following warning:

[code]

This is caused by the corresponding learners' infer method, which initialize a `BoundingBoxList` object providing and empty list `[]`, e.g. [here](https://github.com/opendr-eu/opendr/blob/cf99c7b398ef8e9b0ffe6fcb0f13a16c593f467f/src/opendr/perception/object_detection_2d/centernet/centernet_le